body {
    margin: 0;
    text-align: center;
    background: #273549; 
}
.container{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #6943FF;
    color:white;
    width:100vw;
    height: 240px;
}

h1{
    width: 100%;
    color: white; 
    font-size: 28px; 
    font-family: Inter;
    font-weight: 800;    
    white-space: nowrap;
    margin: 10px;
}
input{
    margin: 10px;
    width: 117px;
    height: 83px;
    background-color: #6943FF;
    border: 2px #B295FF solid;
    border-radius: 5px;
    padding:9px 27.50px;
    color: white;
    font-weight: 800;
    font-size: 58px;
    text-align: center;
}

#number{
    padding: 2px;
    border-radius: 5px;
    border: 2px #B295FF solid;
    font-size: 58px;
    width: 80px;
    height: 68px;
    margin: 10px;
    
    
}

button{
    border:none;
    border-radius: 5px;
    padding:9px 27.50px;
    width: 117px;
}

.container1{
    display: flex;
    flex-direction: column;
    background-color: #273549;
}

.col{
    color: white;
}

h3{
    color: #CCC1FF;
}